<main role="main" class="container center-block">

    <div class="center-container">
      <h1 class="font-weight-light">Welcome to our children's story generator!</h1>
      <p class="lead">Click the 'Start' button below to begin creating a brand new story.</p>
    </div>
  
  </main>
<!-- Navigation buttons are all in a flex container for smooth styling as buttons are added -->
<div class="navigation-row">
    <button type="button" class="btn btn-primary btn-xl" (click)="onClickStart()"><h5>Start</h5></button>
</div>

